{% extends "base.html" %}
{% block title %}
Success - Eventify
{% endblock %} 

{% block content %}

<div class="bg-gray-100">
    <div class="container mx-auto my-10">
        <div class="bg-white shadow-lg rounded-lg p-8">
            <h1 class="text-2xl font-bold text-green-600 mb-4">Booking Successful!</h1>
            <p class="text-gray-700">Thank you for your booking. We look forward to seeing you soon!</p>
            <a href="/" class="mt-4 inline-block text-indigo-600">Go back to home</a>
        </div>
    </div>
</div>

{% endblock content %}





